<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101016069039-p3blpjhmbhaidq0hcti7muqp0gc5t2qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101016069039-p3blpjhmbhaidq0hcti7muqp0gc5t2qh</string>
	<key>API_KEY</key>
	<string>AIzaSyAWYpyTWREuC-AgW4Ioh3ktRS1Pn-_1yZo</string>
	<key>GCM_SENDER_ID</key>
	<string>101016069039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstproject.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-app-project-eaf5c</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-app-project-eaf5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101016069039:ios:b4bfbb18cf8e21afc8855a</string>
</dict>
</plist>